/* Responsive Fix */
@media only screen and (max-width: 620px) {
    table[class="responsive-table"] {
      width: 100% !important;
    }
    td {
      display: block !important;
      width: 100% !important;
      text-align: center !important;
    }
    td img {
      margin-top: 10px !important;
    }
  }